#wrapper{
  width: 900px;
  margin: 0 auto;
}

h1{
font-family: 'Roboto', sans-serif;
font-size: 3em;
color: #358bc9;
}

h2{
font-family: 'Roboto Slab', serif;
font-size: 2em;
color: #848484;
}


button{
  border: none;
  background-color: #bf587f;
  color: white;
  height: 25px;
  width: 140px;
}
.removeFav{
  width: 220px;
}
#searchedGifs{
  width: 50%;
  float: left;
}

.favoritesList{
  width: 50%;
  float: left;
}

.gifDisplay {
  max-width: 90%;
  max-height: 200px:
}

.buttonDiv{
  width: 100%;
}
.deleteGif {
  margin: 30px;
}

.favGif {
  width: 100%;
}
.removeFav {
  margin: 30px;

}

.showCategory{
  height: 50px;
  width: 80%;
  margin-bottom: 20px;
  background-color: #1679c0;
}
